.container {
  
  min-height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  color: white;
  padding-left: 10rem;
  justify-content: space-around;
  align-items: center
 

   
}

.container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
   
    
    gap:4px;
    align-items: center;
    
    


    h1 {
        font-size: 2rem;
        text-align:left;
        font-weight: normal;
    }

    p {
        text-align: justify;
        font-size: 1.2rem;
        font-weight: lighter;
        padding: 1rem;
        
    }

    span {
        font-weight: normal;
    }
   
}


.img {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  animation: move 90s linear infinite;
  padding: 10px;
  margin-right: 4rem;

  img {
    width: 26rem;
    height: 26rem;
    object-fit: cover;
    margin-left: 4rem;
    filter: drop-shadow(0 0 8px #00d8ff);

    
  }
}

@keyframes move {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

